<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BioMasteryEvakuasi"
        tools:targetApi="31">
        <activity
            android:name=".jawaban_benar4"
            android:exported="false" />
        <activity
            android:name=".jawaban_salah5"
            android:exported="false" />
        <activity
            android:name=".jawaban_salah4"
            android:exported="false" />
        <activity
            android:name=".jawaban_benar5"
            android:exported="false" />
        <activity
            android:name=".jawaban_salah3"
            android:exported="false" />
        <activity
            android:name=".jawaban_benar3"
            android:exported="false" />
        <activity
            android:name=".jawaban_salah2"
            android:exported="false" />
        <activity
            android:name=".jawaban_benar2"
            android:exported="false" />
        <activity
            android:name=".soal5"
            android:exported="false" />
        <activity
            android:name=".soal4"
            android:exported="false" />
        <activity
            android:name=".soal3"
            android:exported="false" />
        <activity
            android:name=".soal2"
            android:exported="false" />
        <activity
            android:name=".hasil_salah"
            android:exported="false" />
        <activity
            android:name=".hasil_eva"
            android:exported="false" />
        <activity
            android:name=".jawaban_salah"
            android:exported="false" />
        <activity
            android:name=".jawaban_benar"
            android:exported="false" />
        <activity
            android:name=".soal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyApp" />
    </application>

</manifest>